{% extends 'dashboard/layout.html' %}

{% block dashboard_content %}
<div class="bg-white rounded-xl shadow p-6">
  <div class="flex justify-between items-center">
    <h2 class="text-xl font-bold">
      <i class="fas fa-users text-yellow-500"></i>
      <span class="ml-2">Usuarios</span>
    </h2>

    <a href="{{ url_for('users.new_user') }}" class="bg-green-500 text-white px-3 py-1 rounded-xl hover:bg-green-600">
      <i class="fas fa-plus"></i> Nuevo
    </a>

  </div>

  <h2 class="text-xl font-bold mb-4">Usuarios</h2>

  <table class=" w-full text-left border-collapse table-auto">
    <thead>
      <tr class="border-b">
        <th>Usuario</th>
        <th>Rol</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr class="border-b">
        <td>{{ user.username }}</td>
        <td>
          <span class="px-2 py-1 rounded text-sm
            {% if user.is_admin %}
              bg-green-100 text-green-700
            {% else %}
              bg-gray-200
            {% endif %}
          ">
            {{ user.role }}
          </span>
        </td>
        <td>
          <a class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600"
             href="{{ url_for('users.user_detail', id=user.id) }}">
            Eliminar
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}