<aside class="sm:w-64 bg-gray-900 text-white min-h-screen">
  <div class="p-4 text-xl font-bold ">
    <i class="fas fa-crown text-yellow-500"></i>
    <span class="ml-2 hidden md:inline">Rifas Admin</span>
  </div>

  <hr class="my-2">
  <div class="p-4 flex items-center flex-col">
      <i class="fas fa-user-circle text-5xl"></i>
      <span class="text-xl font-bold hidden md:block ">
        {{ current_user.username.upper() }}
      </span>
      <span class="text-gray-500">
        {{ current_user.role.upper() }}
      </span>
  </div>
  <hr class="my-2">
  <nav class="mt-2">
    <a href="{{ url_for('admin.dashboard') }}"
       class="block px-4 py-2 hover:bg-gray-700 text-center md:text-left" title="Dashboard">
      <i class="fas fa-tachometer-alt"></i>
       <span class="ml-2 hidden md:inline">Dashboard</span>
    </a>

    <a href="{{ url_for('raffles.raffles') }}"
       class="block px-4 py-2 hover:bg-gray-700 text-center md:text-left" title="Rifas">
       <i class="fas fa-crown"></i>
       <span class="ml-2 hidden md:inline">Rifas</span>
    </a>

    <a href="{{ url_for('payments.payments') }}"
       class="block px-4 py-2 hover:bg-gray-700 text-center md:text-left" title="Pagos">
       <i class="fas fa-money-bill-wave"></i>
       <span class="ml-2 hidden md:inline">Pagos</span>
    </a>

    {% if current_user.role == "admin" %}
    <a href="{{ url_for('users.users') }}"
       class="block px-4 py-2 hover:bg-gray-700 text-center md:text-left" title="Usuarios">
        <i class="fas fa-users"></i>
        <span class="ml-2 hidden md:inline">Usuarios</span>
    </a>
    {% endif %}

     <a href="{{ url_for('purchase.purchases') }}"
       class="block px-4 py-2 hover:bg-gray-700 text-center md:text-left" title="Usuarios">
        <i class="fas fa-money-bill-wave"></i>
        <span class="ml-2 hidden md:inline">Compras</span>
    </a>

  </nav>

  <hr class="my-4">

  <!-- logout abajo de sidebar -->
  <div class="flex justify-center">
    <a href="{{ url_for('auth.logout') }}"
       class="text-red-500 hover:underline" title="Salir">
        <i class="fas fa-sign-out-alt"></i>
        <span class="ml-2 hidden md:inline">Salir</span>
    </a>
  </div>

</aside>
