{% extends "dashboard/layout.html" %}

{% block dashboard_content %}

<div class="bg-white rounded-xl shadow p-6">
    <div class="flex justify-between align-center">
        <h2 class="text-xl font-bold">Pagos pendientes</h2>
       
    </div>


  {% if payments %}
  <table class="w-full text-left">
    <thead>
      <tr class="border-b">
        <th>ID</th>
        <th>Compra</th>
        <th>Método</th>
        <th>Monto</th>
        <th>Referencia</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for p in payments %}
      <tr class="border-b">
        <td>#{{ p.id }}</td>
        <td>#{{ p.purchase_id }}</td>
        <td>{{ p.method }}</td>
        <td>S/ {{ p.amount }}</td>
        <td>{{ p.reference_code }}</td>
        <td>
          <span class="px-2 py-1 rounded text-sm
            {% if p.status == 'pending' %}
              bg-green-100 text-green-700
            {% else %}
              bg-gray-200
            {% endif %}
          ">
            {{ p.status }}
          </span>
        </td>
        <td class="flex gap-2">
          
          {% if p.status == 'pending' and current_user.role == 'admin' %}
          <a href="{{ url_for('payments.confirm_payment_admin', payment_id=p.id) }}"
             class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600">
            Confirmar
          </a>

          <a href="{{ url_for('payments.reject_payment_admin', payment_id=p.id) }}"
             class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600">
            Rechazar
          </a>
          {% endif %}



        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p class="text-gray-500">No hay pagos pendientes</p>
  {% endif %}
</div>
{% endblock %}

