{% extends "base.html" %}

<!-- Content -->
{% block content %}
<div class="p-4">
    <div class="bg-green-100 p-4 rounded shadow mb-4">
        <h2 class="font-bold">¡Bienvenido!</h2>
        <p>Aquí podrás ver las rifas públicas y comprar números.</p>
    </div>

    <div class="bg-white p-4 rounded shadow mb-4">
        <h2 class="font-bold">Rifas públicas</h2>
        <p>Aquí podrás ver las rifas públicas y comprar números.</p>
        <a href="{{ url_for('client.raffles') }}" class="text-blue-500">Ver</a>
    </div>
</div>


{% endblock %}